# m h  dom mon dow   command
0 8 * * * /srv/www/payever_stage/current/symfony payever:invoice:remind-expired --env=prod
0 8 * * * /srv/www/payever_stage/current/symfony payever:credit_card:remind-expired --env=prod
0 9 1 * * /srv/www/payever_stage/current/symfony payever:affiliate:prepare-monthly-records --env=prod
# update currencies, daily
0 0 * * * /srv/www/payever_stage/current/symfony payever:currencies:update --env=prod

*/1   *    *    *    * /srv/www/payever_stage/current/symfony payever:notification:queue --env=prod

# update santander payment statuses, hourly, look for STATUS_SANTANDER_SHOP_TEMPORARY_APPROVED
0 * * * * /srv/www/payever_stage/current/symfony payever:santander:request-payment-status --status=STATUS_SANTANDER_SHOP_TEMPORARY_APPROVED --env=prod
# update santander payment statuses, twice per day at 12:00 and 17:00, look for STATUS_SANTANDER_APPROVED_WITH_REQUIREMENTS
0 12,17 * * * /srv/www/payever_live/current/symfony payever:santander:request-payment-status --status=STATUS_SANTANDER_APPROVED_WITH_REQUIREMENTS --env=prod
# update santander payment statuses, twice per day at 12:00 and 17:00, look for STATUS_SANTANDER_APPROVED
0 12,17 * * * /srv/www/payever_stage/current/symfony payever:santander:request-payment-status --status=STATUS_SANTANDER_APPROVED --env=prod
# update santander payment statuses, twice per day at 12:00 and 17:00, look for STATUS_SANTANDER_DEFERRED
0 12,17 * * * /srv/www/payever_stage/current/symfony payever:santander:request-payment-status --status=STATUS_SANTANDER_DEFERRED --env=prod
# update santander payment statuses, twice per day at 12:00 and 17:00, look for STATUS_SANTANDER_IN_PROCESS
0 12,17 * * * /srv/www/payever_stage/current/symfony payever:santander:request-payment-status --status=STATUS_SANTANDER_IN_PROCESS --env=prod

### COLLECT STATISTIC ###
# each HOUR collect week statistic
10 * * * * /srv/www/payever_stage/current/symfony payever:statistics:collect --since="-1 week" --env=prod
# each DAY collect month statistic
20 6 * * * /srv/www/payever_stage/current/symfony payever:statistics:collect --since="-1 month" --env=prod
# each MONDAY collect 3 months statistic
40 3 * * 1 /srv/www/payever_stage/current/symfony payever:statistics:collect --since="-3 months" --env=prod

# check old (created 14, 30, 60 days ago)  transactions with STATUS_SANTANDER_SHOP_TEMPORARY_APPROVED status and send payment reminder email to customer (see PESF2-173), daily at 09:00
0 9 * * * /srv/www/payever_stage/current/symfony payever:santander:payment-reminder-email --env=prod

# remove old (2 days ago) pos terminal sessions, daily at 00:00
0 0 * * * /srv/www/payever_stage/current/symfony payever:pos:remove-old-terminal-sessions --env=prod
# drop outdated oauth tokens, weekly at sunday, 02:00
2 0 * * 0 /srv/www/payever_stage/current/symfony payever:oauth:drop-expired --env=prod

# update contact data, daily at 01:00
0 1 * * * /srv/www/payever_stage/current/symfony payever:update:contacts --days=1 --env=prod

### DEV ###
#update composer
@daily /usr/local/bin/composer self-update
